[submodule "third-party/SearchFilter"]
	path = third-party/SearchFilter
	url = https://github.com/OnionUI/SearchFilter.git
[submodule "third-party/Terminal"]
	path = third-party/Terminal
	url = https://github.com/OnionUI/app-Terminal.git
[submodule "third-party/DinguxCommander"]
	path = third-party/DinguxCommander
	url = https://github.com/OnionUI/app-DinguxCommander
[submodule "third-party/RetroArch-patch"]
	path = third-party/RetroArch-patch
	url = https://github.com/OnionUI/RetroArch-patch
[submodule "third-party/dropbear"]
	path = third-party/dropbear
	url = https://github.com/mkj/dropbear.git
[submodule "third-party/fake-08"]
	path = third-party/fake-08
	url = https://github.com/jtothebell/fake-08.git
[submodule "third-party/openbor"]
	path = third-party/openbor
	url = https://github.com/DCurrent/openbor.git
[submodule "third-party/SDL2"]
	path = third-party/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "third-party/ogg"]
	path = third-party/ogg
	url = https://github.com/xiph/ogg.git
[submodule "third-party/tremor"]
	path = third-party/tremor
	url = https://gitlab.xiph.org/xiph/tremor.git
